@import "variables";

@font-face {
  font-family: "Pt Sans";
  src: url(../fonts/PTSans-Regular.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Pt Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: bold;
}

html {
  font-family: "Pt Sans";
  font-size: $font-regular;

  @media (max-width: 880px) {
    font-size: $font-mobile;
  }
}

h1 {
  font-size: 2.8rem;
  font-weight: normal;
  text-align: center;
  margin: 6px 0 40px;
}

.seo-text {
  p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

a {
  color: var(--color-link);
  text-decoration: none;
}
