@import "variables";
@import "mixins";

$shadow-size: 50px;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  &-float {
    .row {
      @include container_float;
    }
  }

  &-flex {
    .row {
      @include container_flex;
    }
    .row-center {
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

.row {
  width: calc(100% - #{$grid-float--container-paddings} * 2);
  margin: 0 #{$grid-float--container-paddings};
}

.clear {
  width: 0;
  height: 0;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.flex-row {
  @include container_flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
