@mixin container_float {
  display: inline-block;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@mixin container_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin container_grid {
  display: inline-grid;
  grid-template-columns: 2fr minmax(max-content, 0.4fr) minmax(
      max-content,
      0.4fr
    ) minmax(max-content, 0.4fr);
}
