$color-main: #f85d4a;
$color-main-hover: #cc4836;
$color-link: #65a3cd;
$color-table: #f9f5f9;
$color-background: #fcfcfc;

// teacher
$color-favorite: #ecec02;

//  grid
$grid-float--container-paddings: 100px;

// fonts
$font-regular: 14px;
$font-mobile: 12px;
