@import "variables";
@import "fonts";
@import "grid";
@import "components/elements";

// css variables
:root {
  --color-main: #{$color-main};
  --color-main-hover: #{$color-main-hover};
  --color-link: #{$color-link};
  --color-favorite: #{$color-favorite};
  --color-table: #{$color-table};
  --color-backbround: #{$color-background};
  box-sizing: border-box;
}

body {
  background-color: var(--color-backbround);
}
#app {
  background-color: #fff;
  position: relative;
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;

    @media (max-width: 1320px) {
      display: none;
    }
  }
  &:after {
    right: -50px;
    box-shadow: 50px 0 30px -50px inset #a9a9a9;
  }
  &::before {
    left: -50px;
    box-shadow: -50px 0 30px -50px inset #a9a9a9;
  }
}
// Page
@import "components/header";
@import "components/navigation";
@import "components/teachers";
@import "components/statistics";
@import "components/favorites";
@import "components/popups";
@import "components/form";
