.divider {
  width: 100%;
  position: relative;
  height: 1px;
  padding: 25px 0;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
    width: 500px;
    background-color: #000;
  }
}

// Buttons
.btn {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  &:hover,
  &:focus {
    background: none;
  }

  &:focus {
    outline: none;
    outline-offset: 0;
  }
  // Button sizes
  &__small {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  &__big {
    padding: 12px 22px;
    font-size: 1.7rem;
  }
  // Buttons colors
  &__red {
    border: 1px solid var(--color-main);
    color: var(--color-main);
    * {
      color: var(--color-main);
    }
    &:hover {
      background-color: var(--color-main);
      color: #fff;
      * {
        color: #fff;
      }
    }
  }
}

.btn__search {
  width: 175px;
  @media (max-width: 880px) {
    width: max-content;
  }
}

// Forms
label {
  cursor: pointer;
}
input {
  &[type="text"] {
    padding: 10px 5px;
  }
}
