.favorites {
  h1 {
    margin-bottom: 10px;
  }
}
.favorites-slider {
  position: relative;
  .slide-prev,
  .slide-next {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 20px;

    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .slide-prev {
    background-image: url(/img/slider-prev.jpg);
    left: 50px;
    &:hover {
      background-image: url(/img/slider-prev_hover.jpg);
    }
  }
  .slide-next {
    background-image: url(/img/slider-next.jpg);
    right: 50px;
    &:hover {
      background-image: url(/img/slider-next_hover.jpg);
    }
  }
}
