input:not([type="color"]) {
  padding: 10px 5px;
}
input[type="color"] {
  cursor: pointer;
}
form.addteacher {
  input:not([type="color"]),
  select {
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
  }
  label {
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  .form-label {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  .form-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .form-radio-buttons {
    @extend .form-radio;
    width: 60%;
    label {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }
  .form-label-color {
    @extend .form-radio;
    width: 100%;
    label {
      width: auto;
    }
  }
  .form-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    button {
      width: 100%;
    }
  }
}
