@import "../mixins";
// float

.header {
  @include container_float;
  padding: 40px 0;
  width: 100%;
  .logo-wrapper {
    float: left;
  }
  .header-search {
    float: right;
  }
  button {
    margin-left: 20px;
  }
}
