.navigation {
  padding: 10px 0;
  &__left {
    float: left;
  }
  &__right {
    float: right;
  }
}

//  main menu
.navigation-menu {
  display: table-cell;
  padding: 16px 0;
  &.navigation__top {
    * {
      color: var(--color-main);
    }
  }
  &.navigation__bottom {
    * {
      color: var(--color-link);
    }
  }
}
.navigation-item {
  vertical-align: middle;
  font-size: 1.7rem;
  text-decoration: none;
  padding: 0 18px;
  &:first-of-type {
    padding-left: 0;
  }
}

.navigation-btn {
  display: table-cell;
  height: 100%;
  line-height: 4rem;
  * {
    vertical-align: middle;
  }
}
