@import "../mixins";
.popupisopen {
  filter: blur(2px);
}
.popup {
  @include container_flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  .popup-content {
    background-color: #fff;
    padding: 30px 80px;
    position: relative;
    box-sizing: border-box;
    h2 {
      text-align: center;
      font-size: 2.9rem;
      font-weight: normal;
      margin-top: 20px;
    }
  }
  &.popup-teacher {
    display: none;
    .popup-content {
      width: 950px;
      max-width: 80vw;
      box-shadow: 0 0 5px;
    }
    .popup-teacher-photo {
      width: 320px;
      height: 320px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .popup-teacher-info {
      position: relative;
    }
    .popup-teacher-bio {
      margin-left: 40px;
      position: absolute;
      left: 320px;
      width: calc(100% - 360px);
    }
    .popup-teacher-name {
      h3 {
        font-size: 3.4rem;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 50px;
      }
    }
    .popup-text {
      margin-top: 30px;
    }
    .popup-togglemap {
      color: var(--color-link);
      display: inline-block;
      margin-top: 20px;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: vart(--color-link);
    }
    &.popup-teacher-favorite {
      .popup-teacher-name {
        h3 {
          position: relative;
          &:after {
            position: absolute;
            content: "☆";
            color: var(--color-favorite);
            right: 0;
          }
        }
      }
    }
  }
  &.popup-add-teacher {
    display: none;
    .popup-content {
      width: 400px;
    }
  }
  &.openpopup {
    display: flex;
  }
}

.popup-close {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
  .popup-close-button {
    position: relative;
    width: 15px;
    height: 15px;
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: "×";
      font-size: 2rem;
      line-height: 1rem;
    }
  }
}
