@import "../mixins";
.statistics {
  margin-bottom: 20px;
}

.table {
  @include container_grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.table-row {
  @include container_grid;
  padding: 7px 0;
  > div:first-of-type {
    padding-left: 20px;
  }
  > div:last-of-type {
    padding-right: 20px;
  }
  &.table-title {
    border-bottom: 1px solid #000;
    padding-bottom: 0;
    * {
      font-size: 1.4rem;
      padding: 8px 0;
      border-bottom: 3px solid transparent;
      &:hover {
        background-color: var(--color-table);
        border-bottom: 3px solid black;
      }
    }
  }
  * {
    font-size: 1.1rem;
    line-height: 1.6rem;
    // padding-left: 20px;
    &:not(.table-name) {
      text-align: center;
    }
  }
  &.table-row:not(.table-title):nth-of-type(2n + 1) {
    background-color: var(--color-table);
  }
}

.table-pagination {
  margin-top: 35px;
  padding-left: 20px;
  .pagination {
    display: inline-flex;
  }
  .pagenation-item {
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: 20px;
  }
  a {
    @extend .pagenation-item;
    padding: 0;
    color: var(--color-link);
  }
  .pagination-last {
    position: relative;
    padding-left: 30px;
    &:before {
      content: "...";
      position: absolute;
      left: 0;
      color: #000;
    }
  }
}
