@import "../mixins";

.top-teachers {
  padding-bottom: 20px;
}
.top-teachers--filter {
  @include container_flex;
}

.filter {
  padding-left: 20px;
  padding-right: 50px;
  & ~ .filter {
    border-left: 2px dotted #000;
  }
}

// fonts sizes
.filter {
  span {
    padding-left: 5px;
    font-size: 1.1rem;
  }
}
.top-teachers--filter-by {
  font-size: 1.2rem;
}

// teacher card
.teacher-item {
  @include container_flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 calc(100% / 5);
  max-width: 120px;
  padding: 26px 40px 26px;
}
.teacher-item-favorite {
  &:after {
    content: "★";
    font-size: 2.4rem;
    color: var(--color-favorite);
    position: absolute;
    right: 28px;
    top: 22px;
  }
}
.teacher-item--img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(100% - 6px);
  border: 3px solid var(--color-main);
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
  &:after {
    content: attr(data-name);
    font-size: 2rem;
    color: var(--color-main);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }
  &:hover {
    border-color: var(--color-main-hover);
    &:after {
      transform: scale(1.1);
    }
    img {
      transform: scale(1.1);
    }
  }
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
  }
}
.teacher-item--name {
  margin-top: 25px;
  p {
    text-align: center;
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 2rem;
    padding: 0;
    margin: 0;
  }
}
.teacher-item--country {
  margin-top: 13px;
  text-align: center;
  font-size: 0.8rem;
}
